@model projectdinamico.Models.Person
@{
    ViewBag.Title = "Home Page";
}
@section Scripts{
    @Scripts.Render("~/bundles/scriptone")
    @Scripts.Render("~/bundles/rules")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/additional-methods.js"></script>
}

<div class="container d-flex text-center">
    <h2>Prototype Form</h2>

    @using (Html.BeginForm("SubmitForm", "Home", FormMethod.Post, new { id = "myForm" }))
    {
        @Html.LabelFor(m => m.Name) @Html.TextBoxFor(p => p.Name)
        <br />
        @Html.LabelFor(m => m.DateofBirth) @Html.TextBoxFor(p => p.DateofBirth)

        <h4>Childrens?</h4>
        @Html.LabelFor(m => m.TemFilho, "Yes") @Html.RadioButtonFor(m => m.TemFilho, "Yes", new { @class = "TemFilho" })<br />
        @Html.LabelFor(m => m.TemFilho, "No") @Html.RadioButtonFor(m => m.TemFilho, "No", new { @class = "TemFilho" })<br />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <button name="Submit">Submit</button>
        <button class="btnadd" name="add" value="add">Add</button>

        <div class="groupinput">
            <hr /> @Html.LabelFor(m => m.NameChildren) @Html.TextBoxFor(p => p.NameChildren, new { id = "NameChildren1", name="NameChildren1" }) @Html.LabelFor(p => p.CDateofBirth) @Html.TextBoxFor(p => p.CDateofBirth)<hr />
        </div>

    }
</div>